html {
	overflow-y: scroll;
}

a {
	color: #909090;
	text-decoration: none;
}

a:hover {
	color: #c0c0c0;
}

a:visited {
  outline: none;
}

img {
	border: 0;
}

body, p, ol, ul, td {
	color: #030;
}
