<br />
<br />
<br />
<br />
<br />
This domain is available for sale or joint venture.<br />
<br />
I am not a <%= link_to 'squatter', 'http://en.wikipedia.org/wiki/Cybersquatting' %>, <%= link_to 'I am human', 'http://micahalcorn.com' %>. <br />
<br />
<br />
405.818.2257<br />
<br />
<a href="mailto:mail@micahalcorn.com">contact</a>